@model LoginRequestDTO
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/account/base.css" rel="stylesheet" />


<h1>Login</h1>
<form method="post" asp-controller="Auth" asp-action="Login">
    @*Username*@
    <div class="input-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" type="text" placeholder="Your username ...">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    @*Password*@
    <div class="input-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="Your password ...">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <input class="btn btn--primary" type="submit" title="Login" />
    @Html.ValidationSummary()
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}