@model RegisterRequestDTO
@{
    ViewData["Title"] = "Register";
}

<section class="vh-70">
    <div class="container-fluid" style="padding:0px; display:flex; background: linear-gradient(#fff, #edf1ff, #fff)">
        <form method="post" asp-controller="Auth" asp-action="Register" style="width:30vw; display:flex; flex-direction:column; margin:15px auto; padding:0px 40px; border-style: outset; background-color:#fff">
            <div class="row g-3 mb-3" style="display:flex; flex-direction:column; margin-top:1px">
                <h2>Register</h2>
            </div>

            @*Email*@
            <div class="row" style="display:flex; flex-direction:column;">
                <div class="col-auto">
                    <label asp-for="Email" class="form-label" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px">Email</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Email" type="text" aria-describedby="emailHelp" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px; border: 1px solid #ccc">
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Email" class="text-danger" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px"></span>
                </div>
            </div>

            @*User Name*@
            <div class="row" style="display:flex; flex-direction:column">
                <div class="col-auto">
                    <label asp-for="UserName" class="form-label" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px">User name</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="UserName" type="text" aria-describedby="emailHelp" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px; border: 1px solid #ccc">
                </div>
                <div class="col-auto">
                    <span asp-validation-for="UserName" class="text-danger" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px"></span>
                </div>
            </div>

            @*Password*@
            <div class="row" style="display:flex; flex-direction:column">
                <div class="col-auto">
                    <label asp-for="Password" class="form-label" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px">Password</label>
                </div>
                <div class="col-auto">
                    <input asp-for="Password" class="form-control" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px; border: 1px solid #ccc">
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Password" class="text-danger" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px"></span>
                </div>
            </div>

            @*Confirm Password*@
            <div class="row" style="display:flex; flex-direction:column">
                <div class="col-auto">
                    <label asp-for="ConfirmPassword" class="form-label" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px">ConfirmPassword</label>
                </div>
                <div class="col-auto">
                    <input asp-for="ConfirmPassword" class="form-control" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px; border: 1px solid #ccc">
                </div>
                <div class="col-auto">
                    <span asp-validation-for="ConfirmPassword" class="text-danger" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px"></span>
                </div>
            </div>

            @*Phone Number*@
            <div class="row" style="display:flex; flex-direction:column">
                <div class="col-auto">
                    <label asp-for="PhoneNumber" class="form-label" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px">Phone Number</label>
                </div>
                <div class="col-auto">
                    <input asp-for="PhoneNumber" class="form-control" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px; border: 1px solid #ccc">
                </div>
                <div class="col-auto">
                    <span asp-validation-for="PhoneNumber" class="text-danger" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px"></span>
                </div>
            </div>

            <div class="row" style="display:flex; flex-direction:column">
                @Html.ValidationSummary()
            </div>
            <button type="submit" class="row g-3 mb-3 btn btn-primary" style="align-self:end; margin: 10px 0px">Submit</button>
        </form>
    </div>
</section>


@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}