#menu,
#listMenu > * {
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
}

/* Menu  */

#menu > * {
    font-size: large;
    display: inline-block;
}

#menu h3 {
    margin-left: 0.4rem;
    color: var(--decorate-color);
}

/* List Menu */
#listMenu {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    display: none;
}

#listMenu ul {
    border: 1 solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
}

#listMenu ul li {
    list-style: none;
    position: relative;
}

#listMenu ul li i {
    line-height: 20px;
    position: absolute;
    top: 0;
    right: calc(100% + 1rem);
    display: none;
}

#listMenu ul li a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    line-height: 20px;
    font-size: 16px;
}

#listMenu ul li:hover {
    margin: 1rem 0rem;
}

#listMenu ul li:hover i {
    color: var(--decorate-color);
    line-height: 28px;
    font-size: large;
    font-weight: 800;
    display: unset;
}

#listMenu ul li:hover a {
    color: var(--decorate-color);
    line-height: 28px;
    font-size: large;
    font-weight: 800;
}
