@using System.IO
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="../css/Home/Menu.css" />


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="padding: 0% 10%">
    <div class="carousel-inner">
        @{
            Boolean temp = true;
            foreach (string file in Directory.GetFiles("wwwroot/img/img_ads", "*.*", SearchOption.AllDirectories).Where(s => s.EndsWith(".png") || s.EndsWith(".jpg")) )
            {
                var link = "../img/img_ads/" + file.Replace("wwwroot/img/img_ads\\", "");
                if (temp) {
                    temp = false;
                    <div class="carousel-item active">
                        <img src=@link class="d-block w-100" alt=@file>
                    </div>
                }
                else {
                    <div class="carousel-item">
                        <img src=@link class="d-block w-100" alt=@file>
                    </div>
                }
            };
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
