@using System.IO
@{
    ViewData["Title"] = "Home";
    List<AllCategoryDTO> allCategoryDTOs = ViewData["AllCategory"] as List<AllCategoryDTO>;
    string isAuthorized = ViewData["isAuthorized"] as string;
}

<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    @{
                        foreach(AllCategoryDTO item in allCategoryDTOs){
                                <a class="nav-item nav-link" asp-controller="Home" asp-action="Category" asp-route-type=@item.id>@item.name</a>
                        }
                    }
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        @{
                            if (isAuthorized != "true")
                            {
                                
                            }
                            else{
                                <a class="nav-item nav-link" asp-controller="Product" asp-action="Buy">Shopping Cart</a>
                                <a class="nav-item nav-link" asp-controller="Product" asp-action="History">Checkout</a>
                            }
                        }
                    </div>
                    @{
                        if (isAuthorized != "true")
                        {
                            <div class="navbar-nav ml-auto py-0">
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                            </div>
                        }
                        else{
                            <div class="navbar-nav ml-auto py-0">
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="LogOut">Log out</a>
                            </div>
                        }
                    }
                </div>
            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{
                        Boolean temp = true;
                        foreach (string file in Directory.GetFiles("wwwroot/img/img_ads", "*.*", SearchOption.AllDirectories).Where(s => s.EndsWith(".png") || s.EndsWith(".jpg")) )
                        {
                            var link = "../img/img_ads/" + file.Replace("wwwroot/img/img_ads\\", "");
                            if (temp)
                            {
                                temp = false;
                                    <div class="carousel-item active" style="height: 410px;">
                                        <img class="img-fluid" src=@link alt="Image">
                                    </div>
                            }
                            else
                            {
                                    <div class="carousel-item" style="height: 410px;">
                                        <img class="img-fluid" src=@link alt="Image">
                                    </div>
                            }
                        };
                    }
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>