/* Button */
.btn {
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--decorate-color);
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin: 1rem;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--selected {
    color: #000;
    font-size: large;
    font-weight: 400;
    cursor: default;
}

.btn--selected:hover {
    opacity: 1;
}

.btn--unselectd {
    cursor: pointer;
}

.btn--primary {
    background-color: var(--decorate-color);
    color: #fff;
}

/* Button with icon before */

.btn--with-icon {
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin: 1rem;
    transition: opacity 0.2s;
    display: flex;
}

.btn--with-icon div {
    display: flex;
}

.btn--with-icon div i {
    height: fit-content;
    margin: auto;
    font-size: large;
}

.btn--with-icon button {
    color: white;
    font-size: larger;
}



/* Input group */
.input-group {
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.input-group > * {
    min-width: 30rem;
    max-width: 40rem;
}

.input-group label {
    font-size: larger;
    font-weight: 400;
}

.input-group input {
    margin-top: 0.3rem;
    padding: 0rem 0.5rem;
    height: 3.5rem;
    outline: none;
}

.input-group input:focus {
    border-color: #888;
}

.input-group p {
    display: none;
    color: red;
    font-size: small;
}
